/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited {
  color: #666;
}

a:hover {
  color: white;
  background-color: black;
}

.top, .index, .show, .edit, .flash-message {
  font-family: verbana, Arial, Helvetica, sans-serif;
}

.top {
  height: 500px;
  margin: 24px;
}
.top-1{
  margin-left: 8px;
  font-size: 13px;
}

.top-2 {
  margin: 20px 0px 32px 41px;
  font-size: 13px;
}

main {
  margin: 0 auto;
}

.index {
  margin: 30px;
}

.index-1 {
  font-size: 14px;
}

table {
  margin: 10px;
  line-height: 1.5;
  font-size: 13px;
  border-collapse: separate;
  border-spacing: 10px;
}

.index-2 {
  margin-top: 30px;
  font-size: 14px;
}

.index-3 {
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 1px;
}

.index-4 {
  margin-top: 15px;
  font-size: 14px;
}

.index-5 {
  margin-top: 15px;
}

.show {
  margin-top: 30px;
}

.show-1 {
  margin: 0px 0px 30px 70px;
  font-size: 14px;
  letter-spacing: 1px;
}

.show-2 {
  font-size: 14px;
  margin-left: 40px;
}

.edit {
  margin: 30px;
}

.edit-1 {
  font-size: 14px;
}

.edit-2 {
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 1px;
}

.edit-3 {
  margin-top: 15px;
  font-size: 14px;
}

.edit-4 {
  margin-top: 15px;
}

.edit-5 {
  margin-top: 10px;
  font-size: 14px;
}

.flash-message {
  margin: 30px 70px;
  font-size: 14px;
}

.flash-message.notice {
  color: green;
  border: solid 1px darkgreen;
}

.flash-message.aleat {
  color: red;
}

.error {
  margin: 20px;
  color: red;
}

ul {
  margin: 20px 70px;
}